h2 {
    text-align: center;
    margin: 20px 0;
    color: #590150;
}

.table-box {
    width: 90%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    background: #62015a;
    color: white;
    padding: 10px;
}

table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

table tr:hover {
    background: #f1f1f1;
}
.cart-sl a {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  background-color: #985296;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
}

.cart-sl a:hover {
  background-color: #5e0367;
}


